/*
Theme Name: Flatsome Child
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/


@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/

}
.header-menu{
	margin: 0px !important;
	margin-top: 20px !important;
}
.header-menu .box-image{
	text-align: center;
}
.header-menu .box-image img{
	width: 75%;
}
.header-menu .col.medium-3{
	padding: 0px !important;
	position: relative;
	width: 100px;
	height: 95px;
}
.header-menu-text{
	margin: 0px !important;
}
.header-menu-text p{
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	color: #000000;
}
header .hide-for-medium.flex-right{
	width: 220px;
}
header .header-search-form-wrapper button{
	color: red;
	background-color: transparent;
	border: none;
	position: relative;
	right: 37px;
}
header .header-search-form-wrapper .search-field{
	border-radius: 20px;
	position: relative;
	left: 0px;
	width: 220px;

}
header .flex-right .medium-8 .col-inner{
	padding: 0px !important;
	position: relative;
	top: -20px;
	font-size: 20px;
	color: #000000;
}
header .flex-right .medium-8 .col-inner span{
	font-weight: bold;
	
}
header .flex-right .medium-4 img{
	width: 50%;
}
header .flex-right .medium-4{
	position: relative;
	top: -20px;
	left: 30px;
}
header .flex-right .medium-4 i{
	color: #FE050A;
	font-size: 45px;
}
#wide-nav.header-bottom li{
	padding: 0 24.9px !important;
	margin: 0px !important;
}
#wide-nav.header-bottom li:hover{
	background-color: #33A663;
}
}
#wide-nav.header-bottom li a{
	color: #ffffff;
}
#wide-nav.header-bottom li.current-menu-item{
	background-color: #33A663;
}
.nav>li>a:hover{
	background-color: #33A663 !important;
}
/*-------code footer----------*/
footer .absolute-footer{
	display: none;
}
footer{
	background-color: #0B9444;
	padding-top: 30px;
}
.footer-new{
	margin-bottom: 0px;
}
.footer-new .medium-3{
	height: 225px;
	overflow: hidden;
	padding: 0px !important;
}
.footer-new .medium-6{
	color: #ffffff;
}
.footer-new i.fa{
	margin-right: 5px;
	width: 20px;
	font-size: 17px;
	margin-bottom: 15px;
}
.footer-new i.fa-caret-right{
	font-size: 35px;
}
.footer-new span.footer-caret{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	position: relative;
	top: -8px;
}
.footer-new h1{
	color: #ffffff;
	font-size: 20px;
	border-bottom: solid 1px #ffffff;
	padding-bottom: 15px;
}
.footer-new .medium-3 h1{
	width: 70%;
}
.footer-new .share-icons{
	margin-top: 30px;
}
.footer-new .share-icons a{
	margin-right: 20px;
}
ul#menu-footer-2 li{
	border: none;
}
ul#menu-footer-2 li a{
	color: #ffffff;
}

/*-------code home----------*/
h1.home-title{
	color: #FE050A;
	margin-top: 30px;
}
.banner-grid-wrapper{
	border-bottom: solid 1px;
}
#content{
	padding-top: 5px;
}
.home-sb1{
	border-bottom: solid 1px;
}
.home-sb{
	width: 67,7%;
}
.post-sb{
	width: 330px;
	float: left;
}
.post-sb:nth-child(3n+1){
	margin-right: 23px;
}
.post-sb:nth-child(3n+2){
	margin-right: 23px;
}
.post-sb h3{
	margin-top: 20px;
	color: #0B9345;
	font-size: 15px;
}
.content-sb p{
	font-size: 12px;
	color: #000000;
}
.gia_sb{
	color: #FF1414;
}
.gia_sb span{
	color: #000000;
}
.danhgia-sb i{
	color: #feeb07;
}
.home-sv{
	border-bottom: solid 1px;
}
.home-sg{
	border-bottom: solid 1px;
}
.home-cntv h5{
	color: #0B9444;
}
.home-dk .col-md-6:nth-child(2n+2){
	padding-left: 0px;
}
.home-dk{
	width: 1430px !important;
}
.home-dk .medium-6{
	width: auto;
	position: fixed;
	right: -1%;
	top: 30%;
	z-index: 2;
	color: #000000;
}
.SB2 .sb-post .home-sb{
	width: 100%;
}
.SB2 .sb-post .post-sb{
	width: 31%;
}
a:hover{
	text-decoration: none;
}
.home-dk .medium-6 .col-inner{
	width: 245px;
}
p.datb-text{
	width: 850px;
	margin: auto;
	font-size: 13px;
	margin-bottom: 30px;
}
.SB2{
	border-bottom: solid 1px;
}
.image-tvsb img{
	float: left;
	margin-right: 10px;
	width: 160px;
}
.h3-tvsb{
	color: #0B9345;
	font-size: 13px;
	line-height: 20px;
	height: 38px;
}
.content-tvsb p{
	font-size: 11px;
	color: #000000;
}
.post-tvsb{
	padding-bottom: 10px;
	margin-bottom: 25px;
	border-bottom: solid 1px #e1d6d6;
}
.sb3 .box-text h5.post-title{
	color: #0B9345;
}
.sb3 .box-text .is-divider{
	display: none;
}
.sb3 .box-text p{
	margin-top: 10px;
}
.sb3 h1{
	margin-bottom: 30px;
}
.sv3 .post-sb{
	width: 245px;
}
.sv3 .post-sb:nth-child(3n+1){
	margin-right: 0px;
}
.sv3 .post-sb:nth-child(3n+2){
	margin-right: 0px;
}
.sv3 .post-sb:nth-child(4n+1){
	margin-right: 20px;
}
.sv3 .post-sb:nth-child(4n+2){
	margin-right: 20px;
}
.sv3 .post-sb:nth-child(4n+3){
	margin-right: 20px;
}
.sg3 .content-sb p{
	margin: 0px;
}
.lh2 span{
	font-weight: bold;
}
.lh2 {
	color: #000000;
}
h2.lh2-text{
	color: #0B9444;
	font-size: 18px;
	margin-bottom: 30px;
}
.post-tv{
	height: 200px;
}
.image-tv img{
	float: left;
	margin-right: 20px;
}
.post-tv:nth-child(7n+1){
	height: 550px;
}
.post-tv:nth-child(7n+1) .image-tv img{
	width: 100%;
}
h3.h3-tv{
	color: #0B9444;
	
}
.post-tv:nth-child(7n+1) h3.h3-tv{
	position: relative;
	top: 20px;
}
.post-tv:nth-child(7n+1) .content-tv p{
	position: relative;
	top: 20px;
}
/*------- css single-----*/

.image-cnt img{
	float: left;
	margin-right: 25px;
}
section.cnt-banner{
	width: 1050px;
	margin: 0 auto;
	height: 346px;
	margin-top: 5px;
	background-image: url(banner.png);
}
section.single-cnt h1{
	margin-left: 15px;
}
section.single-cnt .image-cnt img{
	width: 100%;
}
section.single-cnt tbody{
	border: solid 1px;
}
section.single-cnt td{
	border: solid 1px #000000;
	text-align: center;
	color: #000000;
}
section.single-cnt {
	color: #000000;
}
section.single-cnt .content-sb{
	margin-top: 10px;
	margin-bottom: 30px;
}
section.single-cnt  h3.h3-sb{
	color: #0B9444;
}
section.single-cnt h3.h3-cnt{
	color: #000000;
	font-size: 14px;
	margin-left: 50px;
}
section.single-cnt h3.h3-cnt span{
	font-weight: normal;
}
section.single-cnt .cnt1{
	margin-bottom: 40px;
}
.datb-title{
	margin-left: 0px !important;
}
.tacgia-datb{
    font-size: 20px;
    font-weight: bold;
    color:  #0B9444;
	position: absolute;
	bottom: 15px;
	right: 20px;
}
section.single-datb .col-md-8:nth-child(3n+1){
	border-bottom: solid 1px #e1d6d6;
	margin-bottom: 20px;
}
.duankhac .post-tvsb{
	padding-bottom: 35px;
}
.duankhac ul.pagination{
	display: none;
}
.cnt-sptt ul.pagination{
	display: none;
}
.datb-title{
	font-size: 18px;
}
.swiper-slide{
	width: 15%;
	float: left;
	margin-right: 2%;
	margin-top: 10px;
}
.swiper-slide:nth-child(6n+1){
	margin-right: 0px;
}
.text-tvk{
	color: #000000;
	padding-left: 10px;
	line-height: 20px;
	font-size: 11px
}
.tvk-nd{
	margin-bottom: 50px;
}
.home-dk2{
	display: none;
}
section.single-datb .text-center{
	display: none !important;
}
h3.h3-dak{
	font-size: 25px;
}
.header-bottom{
	min-height: 38px;
}
.home-title-sb{
	margin-top: 10px !important;
}
.flex-col.hide-for-medium.flex-left.flex-grow{
	overflow: hidden;
}
span.text-vpđd{
	margin-left: 26px;
}
.post-cntv{
	width: 48%;
	float: left;
	margin-bottom: 25px;
	margin-right: 1%;

}
.post-cntv:nth-child(2n+1){
	margin-right: 2%;

}
.post-cntv h3.h3-tv{
	font-size: 14px;
	line-height: 25px;
}
.post-cntv .content-tv{
	font-size: 13px;
}
@media only screen and (max-width: 768px) {
	.home-sb{
		width: 100%;
	}
	.post-sb{
		width: 49%;
	}
	.post-sb:nth-child(3n+1){
		margin-right: 0px;
	}
	.post-sb:nth-child(3n+2){
		margin-right: 0px;
	}
	.home-dk{
		width: auto !important;
	}
	.home-dk .col-md-6:nth-child(2n+2){
		padding-left: 15px;
	}
	.home-dk .medium-6{
		left: 25%;
		top: 0px;
	}
	.SB2 .post-sb{
		width: 48% !important;

	}
	.SB2 .post-sb:nth-child(2n+1){
		margin-right: 19px;
	}
	.sv3 .post-sb{
		width: 48%;
	}
	.sv3 .post-sb:nth-child(2n+1){
		margin-right: 19px !important;
	}
	.sv3 .post-sb:nth-child(4n+1){
		margin-right: 0px;
	}
	.sv3 .post-sb:nth-child(4n+2){
		margin-right: 0px;
	}
	.sv3 .post-sb:nth-child(4n+3){
		margin-right: 0px;
	}
	.image-tvsb img{
		width: 100%
	}
	.h3-tvsb{
		font-size: 15px;
		line-height: 20px;
		position: relative;
		top: 10px;
	}
	.content-tvsb p{
		font-size: 12px;
		position: relative;
		top: 50px;
	}
	.post-tvsb{
		border: none;
		margin-bottom: 40px;
	}
	.post-tv:nth-child(7n+1) {
	    height: 420px;
	}
	.home-dk .medium-6 {
		position: relative; 	

	}
	.home-dk2{
		display: inline-block;
		margin-left: 25% !important; 
	}
	.home-dk1 .medium-6{
		display: none;
	}
	.post-cntv img{
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.home-sb{
		width: 100%;
	}
	.post-sb{
		width: 90%;
	}
	.home-dk .medium-6{
		left: 0px;
		top: 0px;
	}
	.SB2 .post-sb{
		width: 100% !important;
	}
	.sv3 .post-sb{
		width: 90%;
		margin-bottom: 20px;
	}
	.sv3 .post-sb:nth-child(2n+1){
		margin-right: 0px !important;

	}
	.post-tv:nth-child(7n+1) {
	    height: 360px;
	}
	.image-tv img{
		width: 175px;
	}
	.post-sb{
		margin-left: 20px;
	}
	.h3-sb{
		margin-top: 10px;
	}
	section.single-cnt h1 {
	    margin-left: 20px;
	}
	footer .medium-3 h1{
		margin-left: 15px;
	}
	.home-dk .medium-6 {
		position: relative; 	

	}
	.home-dk2{
		display: inline-block;
		margin-left: 12% !important; 
	}
	.home-dk1 .medium-6{
		display: none;
	}
}